nav.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;

  background-color: var(--color-background-1);
  border-bottom: 1px solid var(--color-background-2);
}

.navbar {
  display: flex;
  flex-direction: row;
  height: var(--navbar_height);
  justify-content: space-between;

  width: min(1200px, 80%);
  margin-inline: auto;

  & .namecard {
    & a, & svg {
      align-self: center;
      fill: var(--color-foreground-0);
    }
    display: flex;
    flex-direction: row;
    gap: 10px;
    & .user-page-link {
      align-self: center;
      & a {
        color: var(--color-foreground-0);
      }
    }
  }
  & .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    & .link::marker {
      content: '';
    }
    & .link a {
      padding: 0.2rem;
      padding-inline: 0.6rem;
      border-radius: var(--border-radius-small);
      &:hover {
        background-color: color-mix(in srgb, currentColor 20%, transparent);
      }
      color: var(--color-foreground-0);
      &.is-selected {
        background-color: var(--color-background-0);
      }
    }
  }
}
