---
layout: layout.njk
---

<div id="main">
  <section id="section-description">
    <div class="container-description">
      <h1 class="font-header">hayashi</h1>
      <p class="font-text">
        a tiny distro-independent package manager written in Go.
      </p>
      <div class="description-buttons">
        <button class="action-button font-text">Installation</button>
        <button class="accent-button font-text">Documentation</button>
      </div>
    </div>
    <div class="container-animation" />
  </section>
  <section id="section-features">
    <div>
      <div>
        <h2 class="font-accent">Simplified package management</h2>
        <p class="font-text">
          Hayashi strives to provide a streamlined and user-friendly package
          management experience, making it easy to install, update, and remove
          software packages.
        </p>
      </div>
    </div>
    <div>
      <div>
        <h2 class="font-accent">Lightweight and efficient</h2>
        <p class="font-text">
          Hayashi is designed to be lightweight and efficient, minimizing
          resource usage while maintaining performance. It aims to provide fast
          and responsive package management operations.
        </p>
      </div>
    </div>
    <div>
      <div>
        <h2 class="font-accent">Self maintaining</h2>
        <p class="font-text">
          Hayashi has built-in support for installing updates and configuring
          new packages.
        </p>
      </div>
    </div>
  </section>
</div>

<style>
  #main {
    & section {
      height: 40vh;
    }
    & #section-description {
      display: flex;
      flex-direction: row;
      align-items: center;

      height: 26vh;

      & .container-description {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
          width: min(auto, 50ch);
        }

        & .description-buttons {
          margin-block: 2rem;
        }
      }
    }
    & #section-features {
      display: flex;
      flex-direction: row;

      gap: 20px;
      align-items: center;

      margin-inline: auto;
      width: min(1200px, 80%);

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 100%;
        width: 30%;

        & > div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          height: 200px;
        }

        & h2 {
          margin-block-end: 12px;
        }
        & p {
          line-height: 1.4rem;
        }
      }
    }
  }
</style>
