button {
  color: var(--color-background-0);
  background-color: var(--color-foreground-0);

  border-radius: var(--border-radius-small);
  border-color: transparent;

  padding-block: 5px;
  padding-inline: 10px;

  cursor: pointer;
}

.action-button {
  background-color: var(--purple);
}
.accent-button {
  color: var(--color-foreground-0);
  background-color: transparent;

  box-sizing: border-box;
  border: 2px solid var(--color-foreground-0);
}
.info-button {
  background-color: var(--aqua);

  & a {
    color: var(--color-background-0);
  }
}
